<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhaowb.boot.backstage.mapper.RoleDeptMapper" >
  <resultMap id="BaseResultMap" type="com.zhaowb.boot.backstage.entity.RoleDept" >
    <id column="role_id" property="roleId" jdbcType="INTEGER" />
    <id column="dept_id" property="deptId" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from sys_role_dept
    where role_id = #{roleId,jdbcType=INTEGER}
      and dept_id = #{deptId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhaowb.boot.backstage.entity.RoleDept" >
    insert into sys_role_dept (role_id, dept_id)
    values (#{roleId,jdbcType=INTEGER}, #{deptId,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select role_id, dept_id
    from sys_role_dept
  </select>
</mapper>