<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link href="/static/bootstrap-4.2.1/css/bootstrap.min.css" th:href="@{/bootstrap-4.2.1/css/bootstrap.min.css}">
    <link href="/static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
    <link href="/static/css/style.css" th:href="@{/css/style.css}">
    <link href="/static/css/animate.min.css" th:href="@{/css/animate.min.css}">
    <script src="/static/js/jquery-3.3.1/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1/jquery-3.3.1.min.js}"></script>
    <script src="/static/js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
</head>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow: hidden">
<!-- 左边菜单栏通用 -->
<div th:replace="menu :: leftMenu">
</div>
<!-- 结束左边菜单栏通用 -->
</body>
</html>